@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

.header-pad {
    padding-left: 15px;
    background-color: #1f3469;
    color: white;
}

.header-blank {
    padding-left: 5px;
    background-color: green;
}
