<!-- HEADER -->

<!-- / HEADER -->
<div class="page-layout blank" fusePerfectScrollbar>
    <div class="header-pad" fxLayout="row" fxLayoutAlign="start center">
        <h2>Members</h2>
    </div>
    <div class="header-blank primary-50">
        <input
            type="text"
            style="
                padding: 10px 10px 10px 15px;
                margin: 15px auto 15px 10px;
                width: 30%;
                border-radius: 20px;
                border: 1px solid #ccc;
            "
            placeholder="Filter Members"
            [formControl]="filter"
        />
    </div>
    <ngx-datatable
        #table
        class="material"
        [rows]="rows$.value"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [limit]="12"
    >
        <ngx-datatable-column name="Company">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.memberName }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Member Number">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.memberNumber }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Date Created">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.createdDt }}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
